<style>
       h2 {
           color: aquamarine;
       }
       body{;
           background-color: #323d49;
       }
       p, h1 , ul{
           color: aquamarine;
            
       } 
       
       .botao{
           color: rgb(127, 255, 212);
           text-decoration:none ;
           

       }
    
       
       
       img{
           border-radius: 10px;%;
           
       } body {
           overflow: auto;
       } .bot { 
           color: aquamarine;
           
            font-size: 30px;
       }
       
       h3 
       {
           color: aquamarine;
       }


        

h2 {
    color: aquamarine;
}

   </style>